.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  margin-top: calc(var(--default-layout-header-height) + 12px);
  width: var(--default-layout-width);
  max-width: 100%;
  padding: 0 var(--default-layout-horizontal-spacer);
  display: flex;
}
.content {
  flex: 1;
}
